In [1]:
library(readxl)
library("tidyverse")

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.1.1       v purrr   0.3.2
v tibble  2.1.1       v dplyr   0.8.0.1
v tidyr   0.8.3       v stringr 1.4.0
v readr   1.3.1       v forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

# Dataset inicial

In [2]:
dataset_inicial <- read_excel("(1.2) Dataset Aula Data Wrangling.xls")

head(dataset_inicial, n = 5)

  Estudante   Tempo para chegar à escola (minutos)
1 Gabriela    15
2 Dalila      20
3 Gustavo     20
4 Letícia     40
5 Luiz Ovídio 50
  Distância percorrida até a escola (quilômetros) Quantidade de semáforos
1  8                                              0
2  6                                              1
3 15                                              0
4 20                                              1
5 25                                              2
  Período do dia Perfil ao volante
1 Manhã          calmo
2 Manhã          moderado
3 Manhã          moderado
4 Tarde          agressivo
5 Tarde          agressivo

In [3]:
novos_nomes <- c("Observações",
                 "Tempo para chegar",
                 "Distância percorrida",
                 "Semáforos",
                 "Período",
                 "Perfil")

# 
names(dataset_inicial) <- novos_nomes

head(dataset_inicial, n=5)

  Observações Tempo para chegar Distância percorrida Semáforos Período
1 Gabriela    15                 8                   0         Manhã
2 Dalila      20                 6                   1         Manhã
3 Gustavo     20                15                   0         Manhã
4 Letícia     40                20                   1         Tarde
5 Luiz Ovídio 50                25                   2         Tarde
  Perfil
1 calmo
2 moderado
3 moderado
4 agressivo
5 agressivo

In [4]:
dataset_inicial <- dataset_inicial %>% rename(observacoes=Observações)

head(dataset_inicial, n=5)

  observacoes Tempo para chegar Distância percorrida Semáforos Período
1 Gabriela    15                 8                   0         Manhã
2 Dalila      20                 6                   1         Manhã
3 Gustavo     20                15                   0         Manhã
4 Letícia     40                20                   1         Tarde
5 Luiz Ovídio 50                25                   2         Tarde
  Perfil
1 calmo
2 moderado
3 moderado
4 agressivo
5 agressivo

# Dataset merge

In [5]:
dataset_merge <- read_excel("(1.3) Dataset Aula Data Wrangling (Join).xls")

head(dataset_merge, n = 5)

  Estudante Gênero
1 Gabriela  Feminino
2 Dalila    Feminino
3 Letícia   Feminino
4 Leonor    Feminino
5 Ana       Feminino

In [6]:
dataset_merge <- dataset_merge %>% rename(observacoes=Estudante)

head(dataset_merge, n = 5)

  observacoes Gênero
1 Gabriela    Feminino
2 Dalila      Feminino
3 Letícia     Feminino
4 Leonor      Feminino
5 Ana         Feminino

# Merge

Vamos utilizar a função left join para unir as colunas do dataframe dataset_merge com o dataframe dataset_inicial. Vamos trazer a coluna gênero do dataset_merge e acrescentá-la ao dataset_inicial. Note que a chave que permite fazermos essa união é a coluna **observacoes**.

In [7]:
base_left_join <- left_join(dataset_inicial, 
                            dataset_merge,
                            by = "observacoes"
                           )

head(base_left_join, n = 5)

  observacoes Tempo para chegar Distância percorrida Semáforos Período
1 Gabriela    15                 8                   0         Manhã
2 Dalila      20                 6                   1         Manhã
3 Gustavo     20                15                   0         Manhã
4 Letícia     40                20                   1         Tarde
5 Luiz Ovídio 50                25                   2         Tarde
  Perfil    Gênero
1 calmo     Feminino
2 moderado  Feminino
3 moderado  Masculino
4 agressivo Feminino
5 agressivo Masculino

## Pipe e left_join

Também podemos utilizar a função pipe juntamente com a função left_join para unir as colunas do dataframe dataset_merge com o dataframe dataset_inicial.

In [8]:
dataset_inicial %>% left_join(dataset_merge, by = "observacoes")

   observacoes Tempo para chegar Distância percorrida Semáforos Período
1  Gabriela    15                 8                   0         Manhã
2  Dalila      20                 6                   1         Manhã
3  Gustavo     20                15                   0         Manhã
4  Letícia     40                20                   1         Tarde
5  Luiz Ovídio 50                25                   2         Tarde
6  Leonor      25                11                   1         Manhã
7  Ana         10                 5                   0         Manhã
8  Antônio     55                32                   3         Tarde
9  Júlia       35                28                   1         Manhã
10 Mariana     30                20                   1         Manhã
   Perfil    Gênero
1  calmo     Feminino
2  moderado  Feminino
3  moderado  Masculino
4  agressivo Feminino
5  agressivo Masculino
6  moderado  Feminino
7  calmo     Feminino
8  calmo     NA
9  moderado  Feminino
10 moderado  Feminino

## Função right_join e missing values

Podemos verificar que a variável que está em Y foi trazida para X.  Como uma observação de X não está presente em Y, o dataset final aponta "NA".  NA = é um missing value. Então, no dataset final, todas as observações de X estão presentes. Por outro lado, observações de Y que não estejam em X são excluídas. As observações que estão na "chave" de X são aquelas no dataset final. Right Join: leva as variáveis de X para Y (X é o primeiro argumento).

In [9]:
base_right_join <- right_join(dataset_inicial, 
                              dataset_merge,
                              by = "observacoes"
                             )

head(base_right_join, n = 10)

   observacoes Tempo para chegar Distância percorrida Semáforos Período
1  Gabriela    15                 8                    0        Manhã
2  Dalila      20                 6                    1        Manhã
3  Letícia     40                20                    1        Tarde
4  Leonor      25                11                    1        Manhã
5  Ana         10                 5                    0        Manhã
6  Júlia       35                28                    1        Manhã
7  Mariana     30                20                    1        Manhã
8  Gustavo     20                15                    0        Manhã
9  Luiz Ovídio 50                25                    2        Tarde
10 Marcos      NA                NA                   NA        NA
   Perfil    Gênero
1  calmo     Feminino
2  moderado  Feminino
3  agressivo Feminino
4  moderado  Feminino
5  calmo     Feminino
6  moderado  Feminino
7  moderado  Feminino
8  moderado  Masculino
9  agressivo Masculino
10 NA        Masculino

Neste caso, o dataset final contém somente as observações de Y. Isto é, uma observação de X que não está presente em Y foi excluída. As observações que estão na "chave" de Y são aquelas no dataset final. São gerados NA na a observação de Y que não está em X.

In [10]:
dataset_inicial %>% right_join(dataset_merge, by = "observacoes")

   observacoes Tempo para chegar Distância percorrida Semáforos Período
1  Gabriela    15                 8                    0        Manhã
2  Dalila      20                 6                    1        Manhã
3  Letícia     40                20                    1        Tarde
4  Leonor      25                11                    1        Manhã
5  Ana         10                 5                    0        Manhã
6  Júlia       35                28                    1        Manhã
7  Mariana     30                20                    1        Manhã
8  Gustavo     20                15                    0        Manhã
9  Luiz Ovídio 50                25                    2        Tarde
10 Marcos      NA                NA                   NA        NA
   Perfil    Gênero
1  calmo     Feminino
2  moderado  Feminino
3  agressivo Feminino
4  moderado  Feminino
5  calmo     Feminino
6  moderado  Feminino
7  moderado  Feminino
8  moderado  Masculino
9  agressivo Masculino
10 NA        Masculino

Neste caso, o dataset final contém somente as observações de Y. Isto é, uma observação de X que não está presente em Y foi excluída. As observações que estão na "chave" de Y são aquelas no dataset final. São gerados NA na a observação de Y que não está em X. Inner Join: cria um novo dataset com as observações que estão em X e Y. Para fazer parte do dataset final, deve estar em ambos os datasets iniciais. Colocando de outra forma, é a interseção de X e Y. Não há missing values, só as observações que estão em X e Y ficam após o merge.

In [11]:
base_inner_join <- inner_join(dataset_inicial, dataset_merge,
                              by = "observacoes")

base_inner_join

  observacoes Tempo para chegar Distância percorrida Semáforos Período
1 Gabriela    15                 8                   0         Manhã
2 Dalila      20                 6                   1         Manhã
3 Gustavo     20                15                   0         Manhã
4 Letícia     40                20                   1         Tarde
5 Luiz Ovídio 50                25                   2         Tarde
6 Leonor      25                11                   1         Manhã
7 Ana         10                 5                   0         Manhã
8 Júlia       35                28                   1         Manhã
9 Mariana     30                20                   1         Manhã
  Perfil    Gênero
1 calmo     Feminino
2 moderado  Feminino
3 moderado  Masculino
4 agressivo Feminino
5 agressivo Masculino
6 moderado  Feminino
7 calmo     Feminino
8 moderado  Feminino
9 moderado  Feminino

Full Join: cria um novo dataset contendo todas as informações de X e Y. Ou seja, pode estar em X e não estar em Y e vice-versa.

In [12]:
base_full_join <- full_join(dataset_inicial, dataset_merge,
                            by = "observacoes")

base_full_join

   observacoes Tempo para chegar Distância percorrida Semáforos Período
1  Gabriela    15                 8                    0        Manhã
2  Dalila      20                 6                    1        Manhã
3  Gustavo     20                15                    0        Manhã
4  Letícia     40                20                    1        Tarde
5  Luiz Ovídio 50                25                    2        Tarde
6  Leonor      25                11                    1        Manhã
7  Ana         10                 5                    0        Manhã
8  Antônio     55                32                    3        Tarde
9  Júlia       35                28                    1        Manhã
10 Mariana     30                20                    1        Manhã
11 Marcos      NA                NA                   NA        NA
   Perfil    Gênero
1  calmo     Feminino
2  moderado  Feminino
3  moderado  Masculino
4  agressivo Feminino
5  agressivo Masculino
6  moderado  Feminino
7  calmo     Feminino
8  calmo     NA
9  moderado  Feminino
10 moderado  Feminino
11 NA        Masculino

As próximas duas funções, Semi Join e Anti Join, são formas de comparação. Isto significa que elas não realizam o merge, apenas comparam datasets. Semi Join: mantém em X as observações que coincidem com Y, sem realizar merge.

In [13]:
base_semi_join <- semi_join(dataset_inicial, dataset_merge,
                            by = "observacoes")

base_semi_join

  observacoes Tempo para chegar Distância percorrida Semáforos Período
1 Gabriela    15                 8                   0         Manhã
2 Dalila      20                 6                   1         Manhã
3 Gustavo     20                15                   0         Manhã
4 Letícia     40                20                   1         Tarde
5 Luiz Ovídio 50                25                   2         Tarde
6 Leonor      25                11                   1         Manhã
7 Ana         10                 5                   0         Manhã
8 Júlia       35                28                   1         Manhã
9 Mariana     30                20                   1         Manhã
  Perfil
1 calmo
2 moderado
3 moderado
4 agressivo
5 agressivo
6 moderado
7 calmo
8 moderado
9 moderado

No dataset final, constam apenas as variáveis que já estavam em X. Porém, as observações são somente aquelas que também estão em Y. Anti Join: mantém em X suas observaçoes que não coincidem com Y. Também não ocorre o merge.

In [14]:
base_anti_join <- anti_join(dataset_inicial, dataset_merge,
                            by = "observacoes")

base_anti_join

  observacoes Tempo para chegar Distância percorrida Semáforos Período Perfil
1 Antônio     55                32                   3         Tarde   calmo

# Função Bind

## Exemplos

Existem formas simples de combinar datasets, adequados em casos particulares. As funções "bind" combinam datasets sem a especificação de uma "chave". Isto significa que as observações ou variáveis devem estar na mesma ordem. Vamos criar alguns datasets para exemplificar:

In [15]:
dataset_bind_1 <- tibble(var1 = c("obs1", "obs2", "obs3", "obs4"),
                        var2 = 1:4,
                        var3 = 10:13)

dataset_bind_1

  var1 var2 var3
1 obs1 1    10
2 obs2 2    11
3 obs3 3    12
4 obs4 4    13

In [16]:
dataset_bind_2 <- tibble(var4 = c("obs1", "obs2", "obs3", "obs4"),
                        var5 = 100:103)

dataset_bind_2

  var4 var5
1 obs1 100
2 obs2 101
3 obs3 102
4 obs4 103

In [17]:
dataset_bind_3 <- tibble(var6 = c("obs50", "obs51", "obs52", "obs53"),
                         var7 = 1500:1503)

dataset_bind_3

  var6  var7
1 obs50 1500
2 obs51 1501
3 obs52 1502
4 obs53 1503

In [18]:
dataset_bind_4 <- tibble(var1 = c("obs5", "obs6", "obs7", "obs8", "obs9"),
                         var2 = 5:9,
                         var3 = 14:18)

dataset_bind_4

  var1 var2 var3
1 obs5 5    14
2 obs6 6    15
3 obs7 7    16
4 obs8 8    17
5 obs9 9    18

## Combinar colunas (variáveis)

Deve haver o mesmo número de observações

In [19]:
dataset_bind_colunas <- bind_cols(dataset_bind_1, dataset_bind_2)

dataset_bind_colunas

  var1 var2 var3 var4 var5
1 obs1 1    10   obs1 100
2 obs2 2    11   obs2 101
3 obs3 3    12   obs3 102
4 obs4 4    13   obs4 103

No exemplo a seguir, o resultado da combinação fica incorreto

In [20]:
dataset_bind_1 %>% bind_cols(dataset_bind_3)

  var1 var2 var3 var6  var7
1 obs1 1    10   obs50 1500
2 obs2 2    11   obs51 1501
3 obs3 3    12   obs52 1502
4 obs4 4    13   obs53 1503

Combinar linhas (observações): as variáveis devem estar na ordem

In [21]:
dataset_bind_linhas <- bind_rows(dataset_bind_1, dataset_bind_4)
dataset_bind_linhas

  var1 var2 var3
1 obs1 1    10
2 obs2 2    11
3 obs3 3    12
4 obs4 4    13
5 obs5 5    14
6 obs6 6    15
7 obs7 7    16
8 obs8 8    17
9 obs9 9    18

# Funções, Iterações com Purrr

Funções - Referência: (https://r4ds.had.co.nz/functions.html).


Uma função é uma forma de simplificar um código. É adequada sempre que for necessário repetir o mesmo código várias vezes.  Então, funções automatizam tarefas que seriam repetitivas. Permite que sejam criados e nomeados objetos contendo tais funções. Reduzir a duplicidade de códigos é importante, pois:

* Facilita a visualização (leitura do código)
* Facilita a mudança do código, caso necessário
* Evita erros durante a duplicação do código

Para criar uma função, existem três etapas básicas:

1. Nomear a função
2. Indicar os argumentos (inputs) da função (ficam dentro de function(x, y))
3. Indicar o código, a função, que será implementado (fica dentro do {})

Exemplo: todo dia atualizamos milhares de valores somando 17 e dividindo por 2. Ao invés de repetir a mesma conta toda vez, poderíamos criar uma função:

In [22]:
atualizar <- function(histórico) {
  atual <- ((histórico + 17)/2)
  return(atual)
}

atualizar

function(histórico) {
  atual <- ((histórico + 17)/2)
  return(atual)
}

O input é o que nomeamos de "histórico", isto é, o valor que vamos atualizar. O "atual" é o nome que demos ao código que será implementado (a função). O "return" é o que queremos que a função retorne, isto é, o valor atualizado.

In [23]:
atualizar (1)
atualizar (2)
atualizar (3)
atualizar (4)

[1] 9

[1] 9.5

[1] 10

[1] 10.5

Ainda menos repetitivo, poderíamos criar um vetor com todos os valores. Em seguida, o vetor entra como input na função para retornar todos os valores.

In [24]:
atualizar_hoje <- c(1:15)

atualizar(atualizar_hoje)

 [1]  9.0  9.5 10.0 10.5 11.0 11.5 12.0 12.5 13.0 13.5 14.0 14.5 15.0 15.5 16.0

Poderíamos ter uma função com mais de um input. Por exemplo

In [25]:
ajustar <- function(valor1, valor2) {
  ajuste <- ((valor1 + 180)/(valor2 - 60))
  return(ajuste)
}

ajustar(100, 80)
ajustar(200, 80)
ajustar(200, 100)

[1] 14

[1] 19

[1] 9.5

Neste contexto de funções, as condições "if, else if e else" são importantes. Primeiramente, estabelecemos a condição entre parênteses. Entre as primeiras chaves, vamos estabelecer o resultado caso if = TRUE. Na sequência, estabelecemos o else, ou seja, o restante caso if = FALSE

In [26]:
valor <- 100000

if (valor >= 1000000) {
  "número grande"
} else {
  "número pequeno"
}

[1] "número pequeno"

Também poderíamos ter múltiplos critérios utilizando o "else if"

In [27]:
valor <- 650000

if (valor >= 1000000) {
  "número grande"
} else if (valor >= 500000 & valor <1000000) {
  "número intermediário"
} else {
  "número pequeno"
}

[1] "número intermediário"

É possível integrar condições ("if") às funções apresentadas anteriormente. Voltando ao exemplo, vamos supor que atualizamos valores só até o limite 100. Valores que seriam atualizados acima dele, ficam no limite estabelecido = 100.  Adicionamos o if (condição) {o que retornar quando for satisfeita}. Na sequência, o else {o que retornar quando NÃO for satisfeita}.

In [28]:
atualizar_teto <- function(histórico) {
  atual <- ((histórico + 17)/2)
  if (atual <= 100) {
    return(atual)}
  else {
    return("Atualizado no Teto = 100")}
}

atualizar_teto(44)
atualizar_teto(199)

[1] 30.5

[1] "Atualizado no Teto = 100"

Do mesmo modo, é possível adicionar múltiplas condições às funções ("else if")

In [29]:
ajustar_mult <- function(valor1, valor2) {
  ajuste <- ((valor1 + 180)/(valor2 - 60))
  if(ajuste <= 100) {
    return("baixo")}
  else if(ajuste > 100 & ajuste <= 1000) {
    return("médio")}
  else {
    return("alto")}   
}

ajustar_mult(500, 300)  # resultado = 2,8333
ajustar_mult(50000,100) # resultado = 1.254,50
ajustar_mult(1000, 70)  # resultado = 118

[1] "baixo"

[1] "alto"

[1] "médio"

## Nova base (dataframe)

In [30]:
novos_nomes <- c("Observações",
                 "Tempo para chegar",
                 "Distância percorrida",
                 "Semáforos",
                 "Período",
                 "Perfil")

names(dataset_inicial) <- novos_nomes

nova_base <- rename(dataset_inicial, 
                    observacoes = Observações,
                    tempo = "Tempo para chegar",
                    distancia = "Distância percorrida",
                    semaforos = "Semáforos",
                    periodo = "Período",
                    perfil = "Perfil")

head(nova_base, n=5)

  observacoes tempo distancia semaforos periodo perfil
1 Gabriela    15     8        0         Manhã   calmo
2 Dalila      20     6        1         Manhã   moderado
3 Gustavo     20    15        0         Manhã   moderado
4 Letícia     40    20        1         Tarde   agressivo
5 Luiz Ovídio 50    25        2         Tarde   agressivo

Nos exemplos acima, criamos nossas funções que utilizamos em cada código. Porém, também poderíamos utilizar funções já existentes. Ou seja, o código pode conter uma grande diversidade de funções já existentes.

In [31]:
médias <- function(x) {
  media <- mean(x, na.rm = T)
  return(media)
}

médias(nova_base$tempo)
médias(nova_base$distancia)
médias(nova_base$semaforos)

[1] 30

[1] 17

[1] 1

Poderíamos calcular os percentis

In [32]:
percentil_var <- function(x) {
  percentil <- quantile(x, probs=c(0.25, 0.50, 0.75), type=5, na.rm=T)
  return(percentil)
}

percentil_var(nova_base$tempo)
percentil_var(nova_base$distancia)
percentil_var(nova_base$semaforos)

 25%  50%  75%
20.0 27.5 40.0

 25%  50%  75%
 8.0 17.5 25.0

25% 50% 75%
  0   1   1

## Pacote Purr em detalhes

Embora os códigos estejam mais simples, ainda estamos repetindo 3x neste caso. Para simplificar ainda mais, vamos conhecer o pacote purrr. Iterações - Referência: (https://r4ds.had./co.nz/iteration.html). Assim como as funções, as iterações evitam a repetição de códigos. São adequadas quando a intenção é realizar a mesma tarefa em vários inputs. Por exemplo, evitam repetir o código que seria aplicado em diversas variáveis. O pacote purrr oferece funções que realizam iterações mais facilmente (https://purrr.tidyverse.org/). No purrr, as funções map() realizam tais tarefas. O map() parte de um vetor e aplica a função para cada elemento dele. Retorna um vetor de mesmo comprimento do vetor input. Vetores resultantes:

* map(): listas
* map_lgl(): lógicos
* map_int(): inteiros
* map_dbl(): doubles
* map_chr(): caracteres 

A seguir, vamos criar o vetor que contém os inputs para o map(). Para a nova_base, vamos selecionar as variáveis numéricas. O objetivo é criar um vetor (numérico) que contém estatísticas por variável

In [33]:
vetor_input <- c("tempo", "distancia", "semaforos")

vetor_input

[1] "tempo"     "distancia" "semaforos"

A seguir, cada linha gera um tipo de estatística para cada variável do vetor. A tarefa que realizamos em 3 linhas antes, é realizada em uma linha agora

In [34]:
map_dbl(nova_base[vetor_input], mean, na.rm = T)
map_dbl(nova_base[vetor_input], median, na.rm = T)
map_dbl(nova_base[vetor_input], sd, na.rm = T)
map(nova_base[vetor_input], quantile, probs=c(0.25, 0.50, 0.75), type=5, na.rm = T)

    tempo distancia semaforos
       30        17         1

    tempo distancia semaforos
     27.5      17.5       1.0

    tempo distancia semaforos
14.907120  9.510228  0.942809

$tempo
 25%  50%  75%
20.0 27.5 40.0

$distancia
 25%  50%  75%
 8.0 17.5 25.0

$semaforos
25% 50% 75%
  0   1   1

Nos caso os percentis, utilizamos apenas o map, pois é gerada uma lista. A justificativa é que pedimos 3 informações no mesmo código. A seguir, vamos utilizar o map() e gerar descritivas completas das variáveis

In [35]:
map(nova_base[vetor_input], ~ summary(., quantile.type = 5))

$tempo
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   10.0    20.0    27.5    30.0    40.0    55.0

$distancia
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
    5.0     8.0    17.5    17.0    25.0    32.0

$semaforos
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
      0       0       1       1       1       3

Portanto, o cógigo acima gerou mais informação em uma única linha. O ~ indica que trata-se de uma função, ou seja, escreveremos uma função. Os pontos substituem a indicação dos dados (usa nova_base[vetor_input]). Acima, foram utilizadas funções já existentes (mean, median, sd, quantile). Porém, também poderiam conter funções (functions) criadas por nós. A seguir, combinaremos o map() como a função do coeficiente de variação

In [36]:
coef_var <- function(x) {
  cv <- ((sd(x, na.rm=T))/(mean(x, na.rm=T)))*100
  return(cv)
}

coef_var

function(x) {
  cv <- ((sd(x, na.rm=T))/(mean(x, na.rm=T)))*100
  return(cv)
}

Após elaborar a nova função, basta utilizá-la no map()

In [37]:
map_dbl(nova_base[vetor_input], coef_var)

    tempo distancia semaforos
 49.69040  55.94252  94.28090

Também poderíamos adicionar diretamente ao map() com os atalhos ~ e .

In [38]:
map_dbl(nova_base[vetor_input], ~ (sd(., na.rm=T) / mean(., na.rm=T))*100)

    tempo distancia semaforos
 49.69040  55.94252  94.28090

A seguir, utilizamos o map pedindo os elementos da 5ª linha

In [39]:
map(nova_base, 5)

$observacoes
[1] "Luiz Ovídio"

$tempo
[1] 50

$distancia
[1] 25

$semaforos
[1] 2

$periodo
[1] "Tarde"

$perfil
[1] "agressivo"

Também podemos identificar os tipos de elementos contidos no vetor

In [40]:
map_chr(nova_base, typeof)

observacoes       tempo   distancia   semaforos     periodo      perfil
"character"    "double"    "double"    "double" "character" "character"

E os elementos únicos deste objeto

In [41]:
map(nova_base, unique)

$observacoes
 [1] "Gabriela"    "Dalila"      "Gustavo"     "Letícia"     "Luiz Ovídio"
 [6] "Leonor"      "Ana"         "Antônio"     "Júlia"       "Mariana"

$tempo
[1] 15 20 40 50 25 10 55 35 30

$distancia
[1]  8  6 15 20 25 11  5 32 28

$semaforos
[1] 0 1 2 3

$periodo
[1] "Manhã" "Tarde"

$perfil
[1] "calmo"     "moderado"  "agressivo"

Em resumo, podemos utilizar a função map() de forma bastante flexível. A ideia é sempre replicar uma função aos elementos do vetor input. O map() também pode ser aplicado quando há múltiplos inputs. Por exemplo, vamos gerar variáveis com as seguintes médias e desvios padrão

In [42]:
médias_var <- list(5, 10, 15)
desv_pad_var <- list(1, 2, 3)

map2(médias_var, desv_pad_var, rnorm, n = 5)

[[1]]
[1] 6.517249 5.815429 4.719655 6.101968 5.498752

[[2]]
[1]  9.083926  7.270512  9.976906  9.215077 12.623389

[[3]]
[1] 13.97759 16.63631 10.67741 15.78249 15.78022

Os parâmetros interagiram em sequencia: 5 e 1, 10 e 2, 15 e 3. No map2(), os inputs que variam estão antes da função e os dados fixos depois. Para vários inputs, utiliza-se pmap(). Vamos variar o tamanho "n" das variáveis

In [43]:
tamanho_var <- list(7, 9, 11)

parametros <- list(tamanho_var, médias_var, desv_pad_var) # sequência da fórmula

pmap(parametros, rnorm)

[[1]]
[1] 4.460188 5.365802 4.118757 4.762669 4.949292 7.184620 6.593055

[[2]]
[1] 12.062273 11.236813 10.405223  7.433381  8.841134  9.172103 11.293437
[8] 10.940694 10.966253

[[3]]
 [1] 15.497589  9.844346 13.514909 14.855971 17.716850 10.882304 15.906558
 [8] 17.117982 11.085622 11.231082 12.813068

Na prática, para evitar erros, é melhor nomear os argumentos

In [44]:
parametros2 <- list(mean = médias_var, sd = desv_pad_var, n = tamanho_var)

pmap(parametros2, rnorm)

[[1]]
[1] 4.584937 5.617505 3.361651 4.397846 3.946741 2.884798 5.231563

[[2]]
[1] 12.718896 10.634212  9.937345 15.390281 12.981714 13.457129 10.025800
[8] 12.924559 12.960507

[[3]]
 [1] 17.27344 11.66325 10.35332 11.11323 12.38545 18.01478 20.75798 12.90410
 [9] 11.89050 11.65831 15.83551

Por fim, também é possível variar a função a ser aplicada aos elementos

In [45]:
aplic_fun <- c("rnorm", "rpois")

aplic_fun

[1] "rnorm" "rpois"

In [46]:
parametros3 <- list(
  list(mean = 10, sd = 5, n = 10), 
  list(lambda = 10 , n = 20)
)

parametros3

[[1]]
[[1]]$mean
[1] 10

[[1]]$sd
[1] 5

[[1]]$n
[1] 10


[[2]]
[[2]]$lambda
[1] 10

[[2]]$n
[1] 20

Os parâmetros de funções interagiram na sequência com a lista

In [47]:
invoke_map(aplic_fun, parametros3) # Argumentos fixos entrariam na sequência

[[1]]
 [1]  6.757424  8.441459 14.543611 11.507685 10.354687  8.240995  7.180550
 [8] 12.274001 14.349572 10.671561

[[2]]
 [1] 11  6 10  6 12 10 17 12 11  6 11  7  9  7 10  8  7 14 13  8